* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 450px;
  margin: 5% auto;
}

/* header section */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-section h3 {
  font-size: 16px;
}
.header-section h4 {
  font-size: 14px;
}

/* sell banner section */

.sell-main-banner {
  background: #f3f3f3;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.sell-banner-heading {
  color: #909090;
  font-size: 30px;
  line-height: 40px;
}
.sell-banner-heading span {
  color: #303030;
}

.banner-content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 25px;
  left: 25px;
  margin-bottom: 20px;
}
.banner-content p {
  margin-top: 20px;
}

.banner-content p:last-child {
  margin-top: 20px;
}

.service-options {
  position: relative;
  display: flex;
  width: 80%;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
}
.service-options-border{
  position: absolute;
  top: -51px;
  left: 38px;
  width: 1px;
  height: 200px;
  background: #242424;
  rotate: 90deg;
}
.service-info {
  font-size: 18px;
  font-weight: bold;

}

.sell-banner-image img {
  width: 100%;
  margin-bottom: -5px;
}

/* benefits provide section */

.benifit-container {
  background: #f3f3f3;
  display: flex;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.benefits-name {
  height: 80px;
  width: 350px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.benefits-name p {
  margin-top: 12px;
}

.container {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-top: 16px;
}
.container .steps {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 80px;
  margin-left: 35px;
  margin-right: 20px;
  margin-top: 25px;
  width: 100%;
}
.steps .circle {
  height: 30px;
  width: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  background: black;
  z-index: 1;
}
.progress-bar {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 1px;
  height: 430px;
  background-color: #999999;
}

.option-count-main {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  background: black;
}

.option-count {
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
}

/* form section */

.form-main {
  background: #f3f3f3;
}
.form-header-section {
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.form-info {
  color: #909090;
}
.form-application {
  font-weight:900;
  margin-top: 10px;
}
.form-border {
  position: absolute;
  top: -28px;
  right: 100px;
  width: 1px;
  height: 200px;
  background: #242424;
  rotate: 90deg;
}

.form-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.form-main-section label {
  margin-bottom: 5px;
margin-top: 15px;
font-weight: bold;
} 

.form-main-section span {
  color: red;
}

.input-field {
  width: 355px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  border-width: 1px;
  background: white;
  border: 1px solid transparent;
  margin-top: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://i.ibb.co/mHzvDzB/assignment.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.select-field{
  color:gray;
  padding: 5px;
} 

/* input checkbox */

.checkbox-container {
 display: flex;
  margin-right: 155px;
  margin-top:20px;
  flex-direction: column;
  align-items: center;
}
.checkbox-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.checkbox-child span {
  color:#999999;
  margin-top: 5px;
  margin-left: 5px;
}

.checkbox-child label {
  margin-top: -1px;
}

.child-2 {
  margin-left: 5px;
  margin-top: 8px;
}

.input-check {
  width: 40px;
  height: 15px;
}

.input-check:checked {
  border-color: red !important;
  background: red;
}

/* submit button */

.button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  background: #f3db39;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 5px;
  width: 300px;
  height: 40px;
}
